<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
  <title>Phorest - Official Client Search Engine</title>

  <!-- Inporting Bootstrap, Jquery/Ajax  and external stylesheet. -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel = "stylesheet" type = "text/css" href = "{% static 'css/style.css' %}"/>
</head>

<body>

<div class="jumbotron text-center warning text-dark">
  <h1><img src="{% static 'assets/phorest.png' %}" alt="phorest"></h1>
  <p size="26px;">Official Client Search Engine</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Pick</h3>
      <p>Choose a search category</p>
      <br>

      <div class="dropdown">
        <select class="dropdown-content" id="dropdown">
        <option value="firstName">First Name</option>
        <option value="lastName">Last Name</option>
        <option value="email">Email</option>
        <option value="mobile">Phone Number</option>
        </select>
      </div>
    </div>

    <div class="col-sm-4">
      <h3>Insert</h3>
      <p>Type in a the client's first name, last name,</p>
      <p>email or mobile phone number</p>
      <div class="form-group">
  <input type="text" class="form-control" id="usr">
</div>
    </div>
    <div class="col-sm-4">
      <h3>Go!</h3>
      <p>Click search to see your results</p>
      <bk>
      <button type="button" class="btn btn-primary btn-lg" onclick="searchSelection()">Search</button>
    </div>
  </div>
</div>
<p id="demo"></p>
<table class="table table-bordered table-striped" id="clientTable">
  <div class="footer">
  <p>Made with &hearts; by Mo</p>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Voucher Information</h4>
      </div>
      <div class="modal-body">
        <p>vouchers rock - the more the merrier!!!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script>

function searchSelection(){
  var Selected = document.getElementById("dropdown");
  var Value = Selected.options[Selected.selectedIndex].value;
console.log(Value);
var textValue = document.getElementById("usr").value;
console.log(textValue);
$.ajax({
          'async': 'true',
          'url': "https://api-gateway-dev.phorest.com/third-party-api-server/api/business/eTC3QY5W3p_HmGHezKfxJw/client?" + Value + "=" + textValue + "&page=0&size=20",
          'type': 'get',
          'headers':  {
                "Authorization": "Basic " + "{{ basic_authorization }}"
          },
          'dataType': 'json',

      }).done(function (result) {
        var stringified = JSON.stringify(result);
        var parsedObj = JSON.parse(stringified);
        var availableClients = false;

        console.log(parsedObj);
        var object = parsedObj._embedded;
        var clients = object.clients;

        var clientTable = '<table>';
            clientTable += '<table class="table table-bordered table-striped">';
            clientTable += '<thead>'
            clientTable += '<tr>'
            clientTable += '<th>First Name</th>'
            clientTable += '<th>Last Name</th>'
            clientTable += '<th>Email</th>'
            clientTable += '<th>Phone</th>'
            clientTable += '<th>Voucher</th>'
            clientTable += '</tr>'
            clientTable += '</thead>'

        for (var i = 0; i < clients.length; i++){
            var fName = clients[i].firstName;
            var lName = clients[i].lastName;
            var email = clients[i].email;
            var phone = clients[i].mobile;

            if(textValue == fName || textValue == lName || textValue == email || textValue == phone){
                availableClients = true;
                clientTable += '<tr><td>' + fName + '</td><td>' + lName + '</td>';
                clientTable += '<td>' + email + '</td><td>' + phone + '</td>';
                clientTable += '<td><button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Select</button></td></tr>';
                clientTable += '</tbody></table>'
            }
        }
        if (!availableClients) {
            document.getElementById("demo").innerHTML = "No clients with this criteria. Try again";
        }
        else {

            document.getElementById("clientTable").innerHTML = clientTable;
        }
    })
}
searchSelection();
</script>




</body>
</html>
