.jumbotron {
  background-color: #a165cf;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 200;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #a165cf;
  border-color: grey;
  height: 50px;
  width: 100px;
  font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
  font-size: 20px;
}

.btn .active {
  background-color: grey !important;
}



h3 {
  font-size: 30px;
}

.col-sm-4 {
  text-align: center;
  padding-top: 40px;
}

.table table-hover {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  height: 50px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #a165cf;
   color: #333333;
   text-align: center;
   font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
}

.footer p {
  padding-top: 10px;
}

.table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  margin-bottom: 100px;
}

.dropdown {
  height: 100px;
  width: 100px;
  font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#errorText {
  font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
  font-size: 21px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.alert alert-success alert-dismissible {
  visibility: hidden;
}

.alert alert-danger alert-dismissible {
  visibility: hidden;
}

#voucherBtn {
  width: 200px;
  color: white;
  background-color: #a165cf;
}

#voucherInput {
  width: 200px;
}
